<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beginners Activity Level 3</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="../assets/js/level_3.js"></script>
</head>
<body>
    <div id="wrapper">
        <form action="#" id="select_number_form" class="form">
            <label for="generate_multiplication">Select a multiplier:</label>
            <select name="number" id="generate_multiplication" class="select_option">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </form>

        <section id="multiplication_table_container">
            <table>
                <tbody id="multiplication_table"></tbody>
            </table>
        </section>
    </div>
</body>
</html>